[package]
name = "notion"
version = "0.1.0"
authors = ["Jake Swenson <jake@jakeswenson.com>"]
edition = "2018"

[dependencies]
serde_json = "1.0.64"

[dependencies.chrono]
version = "0.4.19"
features = ["serde"]

[dependencies.reqwest]
version = "0.11"
features = ["json"]

[dependencies.tokio]
version = "1"
features = ["full"]

[dependencies.serde]
version = "1.0"
features = ["derive"]

[dev-dependencies]
cargo-husky = "1"
